{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <form action="#" method="POST">
    {% csrf_token %}
    <title>PK Pay</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <div id="head">
    <header>
          <center>
             <img src="{% static 'images/pay.jpg' %}" alt="logo" width="300px" height="130px">
            </center>
             <br>
        

		
	</header>
	</div>

    </head>
<body>
    <div id="dth">
        <h1><strong>Dth</strong></h1>
        <form>
        <div id="subs">
            <input type="tel" placeholder="subscriber id" required maxlength="10" name="subscriber id">
        </div>
        <div id="operator">
        <h2>choose provider</h2>
                <select name="dt" id="dt">
                <option value="tatasky">Tatasky</option>                      
                <option value="airteldth">airtel</option>
                <option value="videocond2h">videocon d2h</option>
                <option value="sundirect">sun direct</option>
                </select>
        </div>
        <div class="btn8">
            <form action="#" method="post">
            <button type="submit">Proceed</button>
        
            </form>
        </div>
    </div>

    
    <div id="foot4">
        <footer>
            <h2><strong><center>Copyright © 2020, PK Pay. All Rights Reserved</center> </strong></h2>
        </footer>
</div>
</body>