{% load static %}
<!DOCTYPE html>
<head>

        <form method="POST">
        {% csrf_token %}
        <title>PK Pay</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
        <div id="head">
        <header>
        
               <img src="{% static 'images/visa.png' %}" alt="logo" width="300px" height="150px">
               <img src="{% static 'images/indusind.jpg' %}" alt="logo" width="300px" height="150px">
        
            <br>
    
            
        </header>
        </div>
</head>
<body>
    <form method="POST">
        <div id="dy">
            <h4>Merchant name: {{mer}}</h4>
            <h4>Card number: {{crd}}</h4>
            <h4>Amount: Rs.{{oamt}}</h4>
            <input type="password" placeholder="enter otp"  required value="" name="otp" maxlength="6">

            

        <div id="dyb">
            <button type="submit">Submit</button>

        </div>

        </div>
    </form>
</body>
</html>
