{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
<body>
    <div id="pfai">
        <i class="far fa-times-circle"></i>
    </div>
    <div id="pfai1">
        <h1><strong><center>Payment Failed</center></strong></h1>
        <center><button type="submit"><a href="paygate">Try again</a></button></center>
        
    </div>
</body>
</html>